div{
	border: 3px solid #222;
	border-radius: 7px;
	padding : 20px;
	width: 500px;
	margin: auto;
	margin-top : 20vh;
	font-family: Arial;
}


div:hover{
	
	background : linear-gradient(#023992,#F5FFFA);
}

h1:hover{
	text-decoration : underline;
	font-family: 'Times New Roman';
}

li:hover{
	color : #010101;
	font-size: 110%;
	background : #CCDDDD;
}